#hud {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  padding: 0 20px;
}

#hud .block {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 10px;
  opacity: 0.3;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 35px;
}

#hud .block.active {
  opacity: 1;
}

#hud .inputs {
  float: left;
}

#hud .mode {
  float: right;
}

#hud .mouse {background-image: url(mouse.svg)}
#hud .keyboard {background-image: url(keyboard.svg)}
#hud .gamepad {background-image: url(gamepad.svg)}
#hud .leap {background-image: url(leap.svg)}
#hud .pan {background-image: url(pan.svg)}
#hud .rotate {background-image: url(rotate.svg)}
#hud .zoom {background-image: url(zoom.svg)}
#hud .none {display: none}
